@font-face{
    font-family: 'TekoLight';
    src: url('fonts/Teko/Teko-Light.ttf');
}
@font-face{
    font-family: 'TekoBold';
    src: url('fonts/Teko/Teko-Bold.ttf');
}
@font-face{
    font-family: 'RobotoCondensedRegular';
    src: url('fonts/Roboto/RobotoCondensed-Regular.ttf');
}
body{
    position: relative;
    width: 100%;
    background-color: darkslategray !important;
    overflow-x: hidden;
}
h1,h2,h3,h4{
    font-family: 'TekoBold';
}
ul{
    padding-inline-start: 0px !important;
}
.nav-item-font{
    font-family: 'RobotoCondensedRegular';
    color: #000;
}
span,p{
    font-family: 'RobotoCondensedRegular';
}
.navbar-responsive{
    visibility: hidden;
    height: 0px;
}
.vertical-menu-responsive{    
    visibility: hidden;
    height: 0px;
    z-index: -1;
}
.NavBar-Upper{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgba(2,100,64, 1);
    text-align: center;
}

.NavBar-Upper > div > h4{
    padding-top: 15px;
}
.NavBar-Upper > div > a > span{
    padding-top: 15px;
}
.col-align-center{
    text-align: center;
}
.nav-left-column{
    position: relative;
    width: 40%;
    height: 100%;
    padding-left: 10% !important;    
}
.logo-container{
    position: relative;
    width: 200px;
    height: 210px;
    text-align: center; 
    margin: auto;   
    z-index: 1200;
    display: inline-block;
}
.nav-right-column{
    position: relative;
    width: 40%; 
    height: 100%;   
    padding-left: 4% !important;
}
.nav-item{
    position: relative;
    width: 150px;
    font-weight: bold;
    font-size: 12pt;
    display: inline-block;
    text-align: center;
    
}
.nav-item:hover{
    border-bottom: 3px solid green;
    cursor: pointer;
}
.navbar-nav{
    display: inline-block !important;
}
.shadow{
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
}
.navbar{
    height: 100px;
    z-index: 50;
}
.body-title{
    font-weight: bold;
    font-size: 72pt;
    color: floralwhite;
    margin-top: 10%;
}
h1{
    text-align: center;
}
.icon-white{
    position: relative;
    color: #FFF;
    font-size: 18pt;
}
.nav-element{
    position: relative;
    color: #FFF;
    font-size: 14pt;
}
.nav-element:hover{
    text-decoration: none !important;
}
.Footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-color: #FFF;
}
.footer-elem{
    text-decoration: none;
    font-size: 12pt;
}
.footer-elem:hover{
    text-decoration: none;
}
.footer-conecta{
    position: relative;
    width: 100%;
    font-size: 10pt;
    display: inline-block;
    padding-inline-start: 0px !important;
}
.icon-facebook{
    color: #3b5998; 
    display: inline-block; 
    font-size: 14pt;
    left: 0px;
}
.icon-youtube{
    color: red; 
    display: inline-block; 
    margin-left: 10px; 
    font-size: 14pt;
}
.icon-email{
    color: darkblue;
    display: inline-block;
    margin-left: 10px; 
    font-size: 14pt;
}
.icon-insta{
    color: red; 
    display: inline-block; 
    margin-left: 10px; 
    font-size: 14pt;
}
.conecta-section{
    text-align: justify;
}
.conecta-container{
    position: relative;
    width: 40%;
    margin: auto;
    margin-top: 5%;
}
.footer-contacto{
    position: relative;
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
.contacto-list{
    position: relative;
    list-style: none;
    text-align: justify;
    padding-inline-start: 0px !important;
}
.copy-right-section{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: darkslategrey;
    text-align: center;
    color: floralwhite;
}
.form-container{
    position: relative;
    width: 40%;
    background-color: #F2F2F2;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    /*padding-right: 20%;*/
}
.signup-form{
    position: relative;
    width: 40%;
    background-color: #F2F2F2;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}
.required{
    color: red;
    font-family: RobotoCondensedRegular;
    border-color: red !important;
}
.good{
    border-color: #00A86B !important; 
}
.hidden{
    visibility: hidden;
    display: none;
}

.vertical-menu{
    position: fixed;
    background-color: #323B46;
    width: 20%;
    top: 0;    
    position: fixed;
    left: 0;
    height: 100%;
    color: ghostwhite;
}

.dashboard{
    background-color: #E7E8EC !important;

}
.dashboard-panel{
    position: fixed;
    background-color: #E7E8EC;
    margin-left: 20%;
    width: 80%;
    height: 100%;
}
.form-submit{
    text-align: justify;
}
.dashboard-panel-edit{
    position: relative;
    background-color: #E7E8EC;
    margin-left: 20%;
    width: 80%;
    height: 100%;
    margin-bottom: 5%;
}

.dashboard-title{
    padding-left: 10%;
    padding-top: 5%;
}
.dashboard-title > h1{
    text-align: justify !important;
}
.panel-video{
    position: relative;
    width: 60%;    
    margin: auto;
    margin-top: 10%;
    
}
.card-video{
    position: relative;
    width: fit-content;
    padding: 15px;
    margin: auto;
    background-color: #FFF;
    text-align: center; 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);   
}
.panel-info{
    position: relative;
    width: 60%;    
    margin: auto;        
}
.card-info{
    position: relative;
    width: 100%;
    padding: 15px;
    margin: auto;
    background-color: #FFF;
    text-align: center; 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}
.panel-analytics{
    position: relative;
    width: 98%;    
    margin: auto; 
}
.card-analytics{
    position: relative;
    width: 100%;
    padding: 15px;
    margin: auto;
    background-color: #FFF;
    text-align: center; 
    max-height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}
.menu-item{
    height: 50px;
    text-align: justify;
}

.menu-element{
    padding-left: 10% !important;
}
.navbar-nav > a {
    color: #000;
}
.navbar-nav > a:hover {
    color: #000;
}
.dash-item{
    color: #FFF !important;
    text-decoration: none !important;
}
.dash-item:hover{
    color: #FFF !important;
    text-decoration: none !important;
}

.black{
    color: #000 !important;
}
.white{
    color: #FFF;
}
.left-margin{
    margin-left: 2%;
    vertical-align: middle;
}
.swiper-container {
    width: 95%;
    height: 100%;
    background-image: url('../img/backgrounds/bannerBGPattern.png');    
}
.login{
    position: relative;
    width: 100%;    
    text-align: center;
    padding-top: 5%;    
}
.register{
    position: relative;
    width: 100%;    
    text-align: center;    
    background-color: #FFF;
    font-family: 'TekoBold';
    font-size: 24pt;      
}
.register > h1, .register > a{
    background-color: #FFF;
    color: #2F4F4F;    
    font-family: 'TekoBold';
}
.register > a:hover{
    color: #2F4F4F;    
}
.login > div > h1 {
    background-color: #FFF;
    color: #2F4F4F;
}
.clic-below{
    position: relative;
    color: #FFF;
    font-size: 3.5em; 
    font-family: 'TekoBold';   
}
.no-hover:hover{
    color: #FFF;
    text-decoration: none;
}
.video-footer{
    position: relative;
    background-color: #009BFF;
    font-family: 'RobotoCondensedRegular';
    font-size: 24pt;
}
.dash-responsive-menu{
    background-color: #E7E8EC;
    visibility: hidden;
}
.cross-btn-dash{
    visibility: hidden;
}

.row{
    margin-left: 0px !important;
}
/*/////////////////////WIDE LAPTOPS//////////*/
@media screen and (min-width: 1300px) and (max-width:1600px){
    .nav-left-column{
        position: relative;
        width: 30%;
        padding-left: 5% !important;        
    }
    .nav-right-column{
        position: relative;
        width: 30%;        
        padding-left: 0% !important;
    }

    .nav-item{
        position: relative;
        width: 150px;
        font-weight: bold;
        font-size: 12pt;
        display: inline-block;
        text-align: center;
        
    }

    .padding-right{
        padding-right: 10% !important;
    }

    .swiper-container {
        width: 95%;
        height: 600px;
        background-image: url('../img/backgrounds/bannerBGPattern.png');    
    }
    .logo-container > a > img{
        width: 145px !important;
    }
    .logo-container {
        position: relative;
        height: 150px;
        background-color: #FFF;
        text-align: center;        
    }
}

/*//////////////////SMALL LAPTOPS//////////*/
@media screen and (min-width:1000px) and (max-width:1300px){
    .nav-left-column{
        position: relative;
        width: 30%;
        padding-left: 0% !important;              
        text-align: right;
    }

    .nav-right-column{
        position: relative;
        width: 30%;        
        padding-left: 0% !important;
    }

    .nav-item{
        position: relative;
        width: 100px;
        font-weight: bold;
        font-size: 12pt;        
        text-align: text;
    }
    
    .padding-right{
        padding-right: 10% !important;
    }

   .logo-container > img{
        width: 150px !important;
        text-align: center;
        height: 150px !important;
    }
    .logo-container {
        position: relative;
        height: 150px;
        padding-left: 0px !important;
        padding-right: 0px !important;        
        text-align: center; 
        background-color: #FFF;       
    }
    .swiper-container {
        width: 95%;
        height: 425px;
        background-image: url('../img/backgrounds/bannerBGPattern.png');    
    }
    .login{
        position: relative;
        width: 100%;    
        text-align: center;
        padding-top: 2%;    
    }
    .login > div > h1 {
        background-color: #FFF;
        color: #2F4F4F;
        font-size: 18pt !important;
    }
    .register > h1, .register > a{
        background-color: #FFF;
        color: #2F4F4F;    
        font-family: 'TekoBold';
        font-size: 18pt !important;
    }
    .conecta-container{
        position: relative;
        width: 60%;
        margin: auto;
        margin-top: 5%;
    }
    .signup-form{
        position: relative;
        width: 70%;
        background-color: #F2F2F2;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%;
    }
    .form-container{
        position: relative;
        width: 70%;
        background-color: #F2F2F2;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%; 
    }
    .panel-video {
        position: relative;
        width: 60%;
        margin: auto;
        margin-top: 5%;
    }
}

/*//////////////////TABLETS///////////////*/
@media screen and (min-width:768px) and (max-width:999px){
    .nav-left-column{
        position: relative;
        width: 30%;
        padding-left: 1% !important;        
    }

    .nav-right-column{
        position: relative;
        width: 30%;        
        padding-left: 3% !important;
    }

    .nav-item{
        position: relative;
        width: 70px;
        font-weight: bold;
        font-size: 8pt;
        text-align: center;

    }
    .Footer{
        position: relative;
        height: 100%;
    }
    .footer-contacto{
        position: relative;
        width: 100%;
        margin-left: 2%;
    }
    .conecta-container{
        position: relative;
        width: 100%;
        margin-left: 2%;
        margin-bottom: 3%;
    }
    .signup-form{
        position: relative;
        width: 90%;
        background-color: #F2F2F2;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%;
    }
    .form-container{
        position: relative;
        width: 90%;
        background-color: #F2F2F2;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%;
    }
    .logo-container > a > img{
        width: 145px !important;
    }
    .logo-container {
        position: relative;
        height: 150px;
        background-color: #FFF;
        text-align: center;
    }
    .dashboard-panel{
        width: 100%;
        margin-left: 0px;
    }
    .dash-close-responsive-menu{
        position: relative;
        width: 100%;        
        text-align: right;        
    }    
    .vertical-menu{
        visibility: hidden;
        width: 0px;
        z-index: 12000;
    }
    .dash-responsive-menu{
        background-color: #E7E8EC;
        visibility: visible;
    }
    .toggle-button-container{
        position: relative;
        width: 40%;
        text-align: left;
        padding-left: 5%;
        vertical-align: middle;
    }
    .toggle-button{
        position: relative;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 24pt;
        color: #FFF;
        background-color: none;
        border: 1px solid #FFF;
        border-radius: 3px;
        margin-top: 10%;
    }
    .cross-btn-dash{
        position: relative;
        width: 10%;
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,18,1) 0%, rgba(31,238,31,1) 0%, rgba(25,99,5,1) 100%);
        color: #FFF;
        font-size: 18pt;
        text-align: center;
        float: right;
        margin-right: 5%;
        border-radius: 5px;        
    }  
}

@media screen and (min-width:320px) and (max-width:760px){
    body{
        overflow-x: hidden !important;
    }
    .NavBar-Upper{
        visibility: hidden;
        height: 0px;
    }
    .navbar{
        visibility: hidden;
        height: 0px;
    }
    .Footer{
        position: relative;
        height: 100%;
    }
    .footer-contacto{
        position: relative;
        width: 100%;
        margin-left: 2%;
    }
    .conecta-container{
        position: relative;
        width: 100%;
        margin-left: 2%;
        margin-bottom: 3%;
    }
    .signup-form{
        position: relative;
        width: 98%;
        background-color: #F2F2F2;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%;
        border-radius: 5px;
    }
    .form-container{
        position: relative;
        width: 98%;
        background-color: #F2F2F2;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        padding: 2%;
        border-radius: 5px;
    }
    .navbar-responsive{
        position: relative;
        visibility: visible;
        height: 100%;
        width: 100%;
        display: flex;
        margin-bottom: 2%;        
    }
    .toggle-button-container{
        position: relative;
        width: 40%;
        text-align: left;
        padding-left: 5%;
        vertical-align: middle;
    }
    .toggle-button{
        position: relative;
        width: 50px;
        height: 50px;
        text-align: center;
        font-size: 24pt;
        color: #FFF;
        background-color: none;
        border: 1px solid #FFF;
        border-radius: 3px;
        margin-top: 10%;
    }
    .responsive-logo-container{
        position: relative;
        width: 60%;
        text-align: left;
    }
    .responsive-logo-container > a > img{
        border-radius: 25px;
    }
    .vertical-menu-responsive{
        position: fixed;               
        background-color: #323B46;
        width: 0px;
        top: 0;   
        z-index: 12000; 
        position: fixed;
        left: 0;
        height: 100%;
        color: ghostwhite;
    }
    .close-responsive-menu{
        position: relative;
        width: 100%;        
        text-align: right;
    }
    .cross-btn, .cross-btn-dash {
        position: relative;
        width: 10%;
        background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,18,1) 0%, rgba(31,238,31,1) 0%, rgba(25,99,5,1) 100%);
        color: #FFF;
        font-size: 18pt;
        text-align: center;
        float: right;
        margin-right: 5%;
        border-radius: 5px;        
    }    
    .dashboard-panel{
        width: 100%;
        margin-left: 0px;
    }    
    .dash-close-responsive-menu{
        position: relative;
        width: 100%;        
        text-align: right;        
    }    
    .vertical-menu{
        visibility: hidden;
        width: 0px;
        z-index: 12000;
    }
    .card-video > a > img{
        width: 150px;
    }
    .video-footer > a{
        font-size: 14pt;
        padding: 5px;
    }
    .dash-responsive-menu{
        background-color: #E7E8EC;
        visibility: visible;
    }
}